<html ng-app="HyperloopDashboard">
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dashboardTable.css">

    <style>
        thead, tbody { display: block; }

        tbody {
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>

    <script type="text/javascript" src="/reload/reload.js"></script>
    <script type="text/javascript" src="/javascripts/lodash.min.js"></script>
	<script src="/javascripts/d3.v3.min.js"></script>
	<script src="/javascripts/d3-tip.js"></script>

	<script type="text/javascript" src="/SPA/analysis.js"></script>

    <script type="text/javascript" src="/javascripts/socket.io.js"></script>
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-ui-router.min.js"></script>


	<script type="text/javascript" src="/SPA/PaginatedGrid/PaginatedGrid_controller.js"></script>
	<script type="text/javascript" src="/SPA/OverviewBarChart/OverviewBarChart_controller.js"></script>
</head>
<body ng-controller="MainCtrl">

<div style="margin-left:50px;">
    <h1>Hyperloop Performance Dashboard</h1>

    <label>Name: {{dataHeader.name}}</label><br />
    <label>Start: {{dataHeader.startTime}}</label><br />
    <label>End: {{dataHeader.endTime}}</label><br />

	<div ng-controller="PaginatedGridCtrl" ng-include src="'/SPA/PaginatedGrid/PaginatedGrid_template.html'" ></div>
	<div ng-controller="OverviewBarChartCtrl" ng-include src="'/SPA/OverviewBarChart/OverviewBarChart_template.html'" ></div>

</div>

<footer>
    <p>&copy; 2014, Brandon Wilhite</p>
</footer>

<script type="text/javascript">

    function runScope(angularScope,callback){

		var result = void 0;
		var phase = angularScope.$root.$$phase;

		if(phase == '$apply' || phase == '$digest'){
			result = callback(angularScope);
		}else{
			angularScope.$apply(function(){
				result = callback(angularScope);
			});
		}

	    return result;
	}

</script>
<script type="text/javascript">

angular.module('HyperloopDashboard',['PaginatedGrid','OverviewBarChart'])
.controller('MainCtrl',['$scope','$http','$log',function($scope,$http,$log){

	$scope.loading = true;

    var dataHeader = {};
    var dataPoints = [];

	$scope.headerRow = [];
    $scope.ranges = [];
    $scope.selectedRange = {};

    $scope.setRange = function(range){
        $scope.selectedRange = range;

        $scope.dataPoints = getRange(dataPoints,range.begin,range.end);
        $scope.headerRow = [_.last($scope.dataPoints)];
    };

/* location of the real store is $http.get('http://54.68.110.91\:6001/Store/TestOrg/current/0')*/
    $http.get('/data/bigPerfData.json')
    .then(function(data){

        //data.data.data
        dataPoints = getDataPoints(data.data.data);

        delete data.data.data;
        $scope.dataHeader = JSON.parse(JSON.stringify(data.data));

		$scope.$broadcast('TestRunSelected',dataPoints);

        $scope.loading = false;

    })
    .catch(function(err){
        $log.log('http error: ' + JSON.stringify(err));
    });

}])

;

</script>

</body>
</html>
